In [1]:
%reload_ext nb_black

In [14]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import warnings
import seaborn as sns
from scipy.stats.mstats import winsorize
import matplotlib.pyplot as plt
from scipy.stats.stats import ttest_ind


warnings.filterwarnings("ignore")

In [5]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'studentsperformance'

In [6]:
engine = create_engine(
    "postgresql://{}:{}@{}:{}/{}".format(
        postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db
    )
)

df = pd.read_sql_query("select * from studentsperformance", con=engine)
engine.dispose()

In [11]:
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

## 1 ##
Are there any differences between the genders, ethnicities, and parental level of education with respect to their performances in exams?

In [12]:
df.groupby("gender").mean()[["math score", "reading score", "writing score"]]

        math score  reading score  writing score
gender
female   63.633205      72.608108      72.467181
male     68.728216      65.473029      63.311203

In [15]:
ttest_ind(
    df[df.gender == "female"][["math score", "reading score", "writing score"]],
    df[df.gender == "male"][["math score", "reading score", "writing score"]],
)

Ttest_indResult(statistic=array([-5.38324587,  7.95930801,  9.97955791]), pvalue=array([9.12018555e-08, 4.68053874e-15, 2.01987771e-22]))

In [16]:
df.groupby("race/ethnicity").mean()[["math score", "reading score", "writing score"]]

                math score  reading score  writing score
race/ethnicity
group A          61.629213      64.674157      62.674157
group B          63.452632      67.352632      65.600000
group C          64.463950      69.103448      67.827586
group D          67.362595      70.030534      70.145038
group E          73.821429      73.028571      71.407143

In [36]:
# ask why this isn't working
# Write a nested for loop to test between different pairs
from itertools import combinations

ethnicity_pairs = list(combinations(list(df["race/ethnicity"].unique()), 2))
for pair in ethnicity_pairs:
    print(pair)
    print(
        ttest_ind(
            df[df["race/ethnicity"] == pair[0]][
                ["math score", "reading score", "writing score"]
            ],
            df[df["race/ethnicity"] == pair[1]][
                ["math score", "reading score", "writing score"]
            ],
        )
    )

('group B', 'group C')
Ttest_indResult(statistic=array([-0.73156699, -1.32231562, -1.59649634]), pvalue=array([0.46477089, 0.18665928, 0.1110011 ]))
('group B', 'group A')
Ttest_indResult(statistic=array([0.93550763, 1.36336823, 1.46244206]), pvalue=array([0.3503416 , 0.17387355, 0.14475374]))
('group B', 'group D')
Ttest_indResult(statistic=array([-2.8284554 , -1.94515636, -3.19929333]), pvalue=array([0.0048862 , 0.05237862, 0.001475  ]))
('group B', 'group E')
Ttest_indResult(statistic=array([-6.00739705, -3.38606695, -3.38319783]), pvalue=array([5.00794605e-09, 7.95161850e-04, 8.03230049e-04]))
('group C', 'group A')
Ttest_indResult(statistic=array([1.59972203, 2.57543222, 2.8488724 ]), pvalue=array([0.11043811, 0.0103644 , 0.00461069]))
('group C', 'group D')
Ttest_indResult(statistic=array([-2.41858625, -0.79701093, -1.88966315]), pvalue=array([0.01588835, 0.42577138, 0.05930233]))
('group C', 'group E')
Ttest_indResult(statistic=array([-6.12764252, -2.71330186, -2.35028119]), pvalue=array([1.92723885e-09, 6.91328428e-03, 1.91835390e-02]))
('group A', 'group D')
Ttest_indResult(statistic=array([-3.34669824, -3.04685486, -4.15563164]), pvalue=array([9.06863605e-04, 2.48865446e-03, 4.08480573e-05]))
('group A', 'group E')
Ttest_indResult(statistic=array([-5.93614103, -4.07110623, -4.22347366]), pvalue=array([1.08355912e-08, 6.46339593e-05, 3.48327806e-05]))
('group D', 'group E')
Ttest_indResult(statistic=array([-4.28228721, -2.01064794, -0.82397366]), pvalue=array([2.31876403e-05, 4.50333064e-02, 4.10445552e-01]))

In [37]:
df.groupby("parental level of education").mean()[["math score", "reading score", "writing score"]]

                             math score  reading score  writing score
parental level of education
associate's degree            67.882883      70.927928      69.896396
bachelor's degree             69.389831      73.000000      73.381356
high school                   62.137755      64.704082      62.448980
master's degree               69.745763      75.372881      75.677966
some college                  67.128319      69.460177      68.840708
some high school              63.497207      66.938547      64.888268

In [38]:
edu_pairs = list(combinations(list(df["parental level of education"].unique()), 2))
for pair in edu_pairs:
    print(pair)
    print(
        ttest_ind(
            df[df["parental level of education"] == pair[0]][
                ["math score", "reading score", "writing score"]
            ],
            df[df["parental level of education"] == pair[1]][
                ["math score", "reading score", "writing score"]
            ],
        )
    )

("bachelor's degree", 'some college')
Ttest_indResult(statistic=array([1.37023528, 2.20488212, 2.68033147]), pvalue=array([0.17151224, 0.02812756, 0.00771101]))
("bachelor's degree", "master's degree")
Ttest_indResult(statistic=array([-0.14868197, -1.05408589, -0.99987413]), pvalue=array([0.88197578, 0.29329675, 0.31875196]))
("bachelor's degree", "associate's degree")
Ttest_indResult(statistic=array([0.87866419, 1.29779699, 2.11592966]), pvalue=array([0.38020758, 0.19524206, 0.03508162]))
("bachelor's degree", 'high school')
Ttest_indResult(statistic=array([4.23614362, 5.0175779 , 6.54738094]), pvalue=array([2.99653459e-05, 8.80425031e-07, 2.40762538e-10]))
("bachelor's degree", 'some high school')
Ttest_indResult(statistic=array([3.1967186 , 3.40392707, 4.6677331 ]), pvalue=array([1.54091929e-03, 7.56197172e-04, 4.62819853e-06]))
('some college', "master's degree")
Ttest_indResult(statistic=array([-1.23563342, -2.88884337, -3.16876906]), pvalue=array([0.21761957, 0.00416544, 0.00169859]))
('some college', "associate's degree")
Ttest_indResult(statistic=array([-0.54268427, -1.11231882, -0.76159686]), pvalue=array([0.58761828, 0.26660029, 0.44670317]))
('some college', 'high school')
Ttest_indResult(statistic=array([3.54610795, 3.45784277, 4.48852088]), pvalue=array([4.34980042e-04, 6.00104848e-04, 9.27501780e-06]))
('some college', 'some high school')
Ttest_indResult(statistic=array([2.41170462, 1.71416197, 2.57572114]), pvalue=array([0.01632436, 0.08726787, 0.01035853]))
("master's degree", "associate's degree")
Ttest_indResult(statistic=array([0.84112297, 2.19120158, 2.78124155]), pvalue=array([0.40099936, 0.02926415, 0.00578403]))
("master's degree", 'high school')
Ttest_indResult(statistic=array([3.48937593, 5.11315873, 6.36090488]), pvalue=array([5.70929230e-04, 6.25755812e-07, 9.32693030e-10]))
("master's degree", 'some high school')
Ttest_indResult(statistic=array([2.64425721, 3.72615741, 4.70758382]), pvalue=array([8.73622879e-03, 2.43345526e-04, 4.27546515e-06]))
("associate's degree", 'high school')
Ttest_indResult(statistic=array([3.94813253, 4.53802142, 5.34872564]), pvalue=array([9.24731427e-05, 7.44216780e-06, 1.46505455e-07]))
("associate's degree", 'some high school')
Ttest_indResult(statistic=array([2.82005398, 2.71836022, 3.33172235]), pvalue=array([0.00504108, 0.00684677, 0.0009436 ]))
('high school', 'some high school')
Ttest_indResult(statistic=array([-0.86406295, -1.46128476, -1.58388853]), pvalue=array([0.38810861, 0.1447792 , 0.11406654]))

### 2 ### 
Are there any differences between the lunch types with respect to their performances in exams? If there are, how do you explain this?

In [39]:
df.groupby("lunch").mean()[["math score", "reading score", "writing score"]]

              math score  reading score  writing score
lunch
free/reduced   58.921127      64.653521      63.022535
standard       70.034109      71.654264      70.823256

In [40]:
ttest_ind(df[df.lunch == "free/reduced"][["math score", "reading score", "writing score"]], df[df.lunch == "standard"][["math score", "reading score", "writing score"]])

Ttest_indResult(statistic=array([-11.83718047,  -7.45105647,  -8.0097842 ]), pvalue=array([2.41319560e-30, 2.00279665e-13, 3.18618958e-15]))

Yes, students on a reduced lunch tend to not havde access to as many tools for academic success. Income is correlated to a lot of educational metrics

### 3 ###
Does the test preparation course seem to have an effect on the exam performances?

In [41]:
df.groupby("test preparation course").mean()[
    ["math score", "reading score", "writing score"]
]

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

In [42]:
ttest_ind(df[df["test preparation course"] == "completed"][["math score", "reading score", "writing score"]],df[df["test preparation course"] == "none"][["math score", "reading score", "writing score"]])

Ttest_indResult(statistic=array([ 5.70461642,  7.87166354, 10.40917344]), pvalue=array([1.53591346e-08, 9.08178334e-15, 3.68529174e-24]))

Seets like it does. For all subjects

### 4 ###
Which 2 exam scores are most correlated with each other?

In [43]:
df[["math score", "reading score", "writing score"]].corr()

               math score  reading score  writing score
math score       1.000000       0.817580       0.802642
reading score    0.817580       1.000000       0.954598
writing score    0.802642       0.954598       1.000000

Reading and writing are most highly correlated.