In [2]:
from sqlalchemy import create_engine
# Database credentials
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'dvdrentals'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

In [50]:
# Use the connection to execute some SQL
film = engine.execute('SELECT * FROM film')

# no need for an open connection, as we're only doing a single query
engine.dispose()

# Process the results
film_rows=film.fetchall()
first_film=film_rows[0]
#print(first_film.keys())
for item in first_film.items():
    print(item)

('film_id', 1)
('title', 'ACADEMY DINOSAUR')
('description', 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies')
('release_year', 2006)
('language_id', 1)
('original_language_id', None)
('rental_duration', 6)
('rental_rate', Decimal('0.99'))
('length', 86)
('replacement_cost', Decimal('20.99'))
('rating', 'PG')
('last_update', datetime.datetime(2007, 9, 10, 17, 46, 3, 905795))
('special_features', ['Deleted Scenes', 'Behind the Scenes'])
('fulltext', "'academi':1 'battl':15 'canadian':20 'dinosaur':2 'drama':5 'epic':4 'feminist':8 'mad':11 'must':14 'rocki':21 'scientist':12 'teacher':17")

In [41]:
#1. How many movies are released for each rating?
#use Count* or Count(film_id) here?
sql= '''
SELECT COUNT(film_id), rating
FROM film
GROUP BY rating
'''
film1 = engine.execute(sql)
engine.dispose()

rows1=film1.fetchall()
for row in rows1:
    print(*row)

195 R
210 NC-17
194 PG
223 PG-13
178 G

In [40]:
#2.What is the average rental duration for each rating?
#How to get rid of the decimal here?
sql2= '''
SELECT ROUND(AVG(rental_duration), 2), rating
FROM film
GROUP BY rating
'''
film2 = engine.execute(sql2)
engine.dispose()

rows2=film2.fetchall()
for row in rows2:
    print(*row)

4.77 R
5.14 NC-17
5.08 PG
5.05 PG-13
4.84 G

In [53]:
#3. What is the mean movie length? Calculate this by defining a function.
def mean_movie(movielengths):
    count=0
    summ=0
    for length in movielengths:
        summ=summ+length
        count+=1
    avg=summ/count
    return avg

sql3= '''
SELECT length
FROM film
'''
film3 = engine.execute(sql3)
engine.dispose()
rows3 = film3.fetchall()
lengths=[x['length'] for x in rows3]
print(mean_movie(lengths))

115.272

In [72]:
#4What is the median movie length? Calculate this by defining a function.
def median(nums):
    length=len(nums)
    highmiddle=(length)//2
    sortednums=sorted(nums)
    median= (sortednums[highmiddle]+sortednums[-highmiddle-1])/2
    return median
#print(median([1,3,4,5,8,10,11]))

sql5= '''
SELECT length
FROM film
'''
film5 = engine.execute(sql5)
engine.dispose()
rows5 = film5.fetchall()
lengths=[x['length'] for x in rows5]
print(median(lengths))

5.0
114.0

In [59]:
#5.Calculate the standard deviation of the movie lengths. Calculate this by defining a function.
def standard_deviation(numbers):
  X_bar = mean_movie(numbers)
  N = len(numbers)
  total_sum = 0
  for X in numbers:
    diff = X - X_bar
    squared = math.pow(diff, 2)
    total_sum += squared
  sigma = math.sqrt(total_sum / (N - 1))  
  return sigma

sql4= '''
SELECT length
FROM film
'''
film4 = engine.execute(sql4)
engine.dispose()
rows4 = film4.fetchall()
lengths=[x['length'] for x in rows4]
print(standard_deviation(lengths))

40.42633181855987

In [17]:
# Use the connection to execute some SQL
language = engine.execute('SELECT * FROM language LIMIT 1')

# no need for an open connection, as we're only doing a single query
engine.dispose()

# Process the results
language_rows=language.fetchall()
first_language=language_rows[0]
first_language.keys()

['language_id', 'name', 'last_update']